@use '../variables.scss';

.hero-explore{
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 4rem 2rem;
}

.places {
    text-align: center;
    padding: 0.5rem 2rem;

    .cards-places {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 1.5rem; 
        margin-bottom: 2rem; 
    }

    .card {
        width: 18rem; 
        border-radius: 15px;
        background: #e3d7bf33;     
        box-shadow: 0 4px 6px variables.$color_sombras;
        text-align: left; 
    }

    .card-location {
        margin-right: auto; 
        width: 20px; 
        height: 20px;
    }

    .card-title {
        width: 100%; 
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
        text-align: center;
    }

    .card-text {
        width: 100%; 
        font-size: 0.9rem;
        text-align: center;
    }

    .card-link {
        color: variables.$color_secundario;
        font-weight: bold;
        text-decoration: none;
    }

    .card-link:hover {
        color: #735945;
    }
}

.fav-places h2 {
    margin-bottom: 1rem; 
}
