.hero-us{
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 4rem 2rem;
}

.mission-vision {
    text-align: center;
    padding: 1rem 2rem;
}

.values {
    text-align: center;
    padding: 1rem 2rem;
}