@use '../variables.scss';

.hero-questions{
    background-image: url("/Imagenes/hero_preguntas.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 8rem 2rem;
}

#accordionFlushExample{
    margin: 10px;
}

.accordion-item{
    padding:0.5rem;
    background-color: variables.$color_principal;
    margin: 1rem;
    box-shadow: 0 4px 6px variables.$color_sombras;
}

.accordion-button {
    background-color: variables.$color_principal;
    color: variables.$color_secundario;
    font-weight: 500;
    box-shadow: none;
    border-radius: 10px;
}

.accordion-button:not(.collapsed) {
    background-color: variables.$color_principal;
    color: black;
    box-shadow: none;
}

.accordion-body {
    background-color: variables.$color_principal;
    border-top: 1px solid variables.$color_sombras;
    border-radius: 0 0 10px 10px;
}

.accordion-button:focus {
    box-shadow: none;
}

.not-found{
    margin: 3rem;
    background-color: variables.$color_sombras;
    padding: 2rem;
    border-radius: 20px;
    justify-content: center;
    text-align: center;

    h3{
        font-weight: bold;
        margin-bottom: 35px;
    }
}

.not-found-button button{
    margin-top: 1rem; 
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 15px;
    background: #735945e3;
    cursor: pointer;
    color: variables.$color_terciario;
}