@use 'Pages/contacto.scss';
@use 'Pages/preguntas.scss';
@use 'Pages/explorar.scss';
@use 'Pages/nosotros.scss';
@use 'Pages/index.scss';

@use 'Generales/header.scss';
@use 'Generales/hero.scss';
@use 'Generales/footer.scss';

@use 'variables.scss';

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: variables.$color_principal;
}
